@page "/products"
@using LogisticApp.Data
@inject ProductService productService
<h3>Products</h3>

<a href="AddProduct" class="btn btn-primary my-2">+ Product</a>

@if (allProducts == null)
{
    <p>Loading Data...</p>
}
else
{


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody>
            @foreach (Product product in allProducts)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>
                        <a class="btn btn-sm btn-secondary" href="EditProduct/@product.Id">Edit</a>
                        <a class="btn btn-sm btn-danger" href="DeleteProduct/@product.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    List<Product>? allProducts;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        allProducts = await productService.GetAllProducts();
    }


}
